---
import Layout from '../layouts/layout.astro';
import { DocumentRenderer } from '../lib/keystatic/document-renderer';
import { reader } from '../lib/keystatic/reader';

const page = await reader.singletons.homepage.readOrThrow();
const content = await page.content();
---

<Layout title="Luke Bennett">
	<div class="prose dark:prose-invert mx-auto">
		<DocumentRenderer document={content} />
	</div>
</Layout>
